<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Real-time Model Prediction Dashboard</title>
    
    <script>
        async function fetchData() {
    const response = await fetch('/data');
    const data = await response.json();
    const tableBody = document.getElementById('data-table-body');
    tableBody.innerHTML = ''; 

    let index = 1; 
    Object.values(data).forEach(info => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${index}</td>
            <td>${info.rating_star}</td>
            <td>${info.comment}</td>
            <td>${info.sentiment}</td>
        `;
        tableBody.appendChild(row);
        index++; 
    });
    }


        setInterval(fetchData, 3000); 
        window.onload = fetchData; 
    </script>
</head>
<body>
    <h1>Real-time Model Prediction Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Rating Star</th>
                <th>Comment</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody id="data-table-body"></tbody>
    </table>
</body>
</html>
